.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

*.so

test/genomes/*
test/*.csv
test/families.txt
!examples/*.py
examples/ref/*
examples/genomes/*
examples/results/*

.venv/

__pycache__/
*.pyc